<html>
<head>
	<title>Register</title>
<style type="text/css">
	fieldset{
		width: 100%;
		height: auto;
		border:none;
		margin-top: 0;
		padding-top: 0;
	}
#head{
background-color:black;
color: white;
height: 80px;

}
h4{
	color: white;
}
h1{

	padding: 15px;
}
main{
	background-color: white;

		height: 420px;
	color:black;
padding: 0px;
}
a{
	background-color: purple;
    border: none;
    color: #FFFFFF;
    padding: 10px 22px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   font-size: 16px;
   cursor: pointer;
   display: inline-block;
}


footer{
height: 30px;
background-color: black;
padding: :0px;
color: white;
padding-top: 10px;
}
body{
	margin-top: 0;
		padding-top: 0;
}
</style>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<BODY>
	<fieldset>
	<header id="head" class="head">
		<center><h1>E-Buy</h1>
<%{%><h4><%- errormessage %></h4><%}%>
		</center>
	</header>
	<main>
	<a href="\home">Home</a>
	<a href="\list">Product list</a>
	<a href="\addlist">Add Product</a>
	<a href="\addgroup">Add Group</a>
	
	<a href="\Gallery">Gallery</a>
	<a href="\loginpage">Login</a>

	<a class="sep" id="sep" href="\logout">Log Out</a>
</main>
<footer>
	

</footer>
</fieldset>

</BODY>
</html>